[Unit]
Description=Jan Rosell Portfolio
After=network.target

[Service]
Type=simple
User=jan
WorkingDirectory=/home/jan/janrosell
ExecStart=/home/jan/janrosell/scripts/start.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
